<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <a
      href="/"
      class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
    >
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 FreeGames, Inc</span>
  </div>

  <img src="/images/joystick.svg" alt="BoredGames brand icon" height="50" />

  <ul class="socials nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.instagram.com/modurevlad/"
      >
        <div class="instagram-icon">
          <img src="/images/instagram.svg" alt="Instagram" height="25" /></div
      ></a>
    </li>
    <li class="ms-3">
      <a class="text-body-secondary" href="https://github.com/dashboard">
        <img src="/images/github.svg" alt="GitHub" height="25" />
      </a>
    </li>
  </ul>
</footer>
