footer {
  text-align: center;
  background-color: #f1f1f1;
  width: 100%;
  bottom: 0;
}

.card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.carouselImage {
  border-radius: 20px;
}
.socials {
  padding-right: 50px;
}
div.instagram-icon {
  padding-right: 10px;
}
